.header {
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(
      #101010 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    linear-gradient(
      to right,
      #101010 0.6000000000000001px,
      #000000 0.6000000000000001px
    );
  background-size: 12px 12px;
  color: white;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  height: 40px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBrand {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .headerBrand {
    font-size: 1.5rem;
  }
}
