.sidebarContainer {
  width: 12%;
  height: 100vh;
  color: white;
  position: fixed;
}

.sidebarWrapper {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarHeader {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.burger {
  font-size: 1rem;
  text-align: end;
}
.logo {
  width: 30px;
  border-radius: 10px;
}
.brandName {
  font-size: 1rem;
}
.line {
  width: 100%;
  background-color: white;
  height: 2px;
}
.sidebarNavContainer {
  width: 100%;
  height: 60%;
}
.sidebarNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin-left: 20px;
}
.sidebarLinks {
  color: white;
  font-weight: 600;
  display: flex;
  gap: 20px;
  text-decoration: none;
}
.sidebarFooter {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  margin-left: 5px;
}
.footerLinks {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.footerLinks a {
  color: white;
}
.footerInfo {
  font-size: 0.6rem;
  text-align: start;
  margin-top: 15px;
}
