.itemListWrapper {
  background-color: pink;
  display: grid;
  place-items: center;
  padding-top: 100px;
  background-color: rgb(10, 10, 10);
  height: 100%;
}
.itemList {
  display: flex;
  width: 90%;

  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .itemList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
